
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/css/layui.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/modules/laydate/default/laydate.css" rel="stylesheet" />
    <link href="~/Content/css/modules/laydate/default/laydate.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/layui.js"></script>
</head>
<body>
    <iframe src="layout-admin.html?from=demo" frameborder="0" id="demoAdmin" style="width: 100%; height: 300px; border-radius: 2px;">
        213
    </iframe>
    213123
    <script src="~/Scripts/layui.js" charset="utf-8"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->
    <script>
    </script>
</body >
</html >
